
body{
    background-color: rgb(0, 0, 0);
    margin:2mm;
    
}
.protest-riot-regular {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  #areaContador{
    background-color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bold;
    font-family: Impact;
    border-radius: 25px;
    color: aliceblue;
    
  
  }

  #botonClick, #botonClick2,#btnClear{
    background-color: black;
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    font-family: impact;
    border-color: aliceblue;
    border-radius: 25%;
    margin: 10px;
}
